body, html{
    height:100%;
    margin:0;
    padding: 0;
    font-family:"Lato", sans-serif;
    line-height: 2em;
    background-color: #f3F3F3;
  }
#section_header{
    background-image: url(img/headerv2.svg);
    background-size: cover;
    height: 50vw;
}
.title{
    margin-top: 10vw;
    margin-left: 3vw;
    position: absolute;
}
.title h2{
    color:  #8550FC;
    margin-top: 5vw;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 2;
}
nav .logo{
    float: left;
}
nav.black{
    background: #8550FC;
    height: 80px;
    padding: 10px 50px;
}
nav .logo img{
    height: 80px;
    transition: .5s;
}
nav.black .logo img{
    height: 60px;
}
nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    list-style: none;
}
nav.black ul li a {
    color: white;
    line-height: 60px;
}
nav ul li a {
    line-height: 80px;
    color: #8550FC;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
nav ul li a.active,
nav ul li a:hover{
color: #f3F3F3;
background-color: #8550FC;
}
.responsive_nav{
    display: none;
}


/* A PROPOS */

#section_1 h2{
    font-size: 2em;
    text-align: center;
}
.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}
.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #88818b ;
}
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 20px;
}
.timeline ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #8550FC;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #8550FC 0.2;
    top: 24px;
    right: -6px;
}
.timeline ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #8550FC;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #8550FC 0.2;
    top: 24px;
    left: -4px;
}
.timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #8550FC;
}
.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}
.timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #8550FC;
    color: white;
    border-radius: 18px;
}
.timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #8550FC;
    color: white;
    border-radius: 18px;
}
.timeline ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* FORMATIONS */
#section_2{
    width: 90%;
    background: white;
    margin: 2em auto;
    border-radius: 1em;
}
#section_2 h2{
    font-size: 2em;
    text-align: center;
    margin: auto;
    padding-top: 1em;
}
.text_formation{
    margin: 0 20vw;
    text-align: justify;
}
.text_formation p{
    padding: 2em;
}
.img_formation ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}
.img_formation ul li{
    width: 15%;
}

  /* PROJETS */
  #section_3{
      width: 90%;
      background-color:#D4CCFF;
      margin: auto;
      margin-bottom: 2vw;
      border-radius: 1em;
  }
.image_bloc{
    display: flex;
    width: 100%;
}
   .img_projet{
      width: 100%;
      border-radius: 1em;
      display: flex;
    }

  .image_projet{
      width: 34%;
      padding: 1vw;
  }

/* CONTACT */

#section_4{
    width: 90%;
    background-color: white;
    margin: auto;
    padding: auto;
    margin-bottom: 2vw;
    border-radius: 1em;
}
.contact{
    display: flex;
    width: 30%;
    margin: auto;
}
.icone_contact{
    width: 40%;
}
.copyright{
    text-align: center;
}

@media (max-width: 1000px){

    .timeline{
        width: 100%;
    }
}

@media (max-width: 768px){
    .responsive_nav{
        display: block;
        width: 100%;
        height: 60px;
        background: #8550FC;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index: 3;
    }
    .responsive_nav .logo img{
        float: left;
        height: 50px;
    }
    .responsive_nav .menu h4{
        float: right;
        color: white;
        margin: 0;
        padding: 0;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
    }
    nav.black{
        background: #8550FC;
        height: 60px;
        padding: 0;
    }
    nav .logo{
        display: none;
    }
    nav ul{
        position: absolute;
        width: 100%;
        left: 0;
        top: 60px;
        background: #262626;
        float: none;
        display: none;
    }
    nav ul.active{
        display: block;
    }
    nav ul li {
        width: 100%;
    }
    nav ul li a {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: white;
    }
    .timeline{
        width: 100%;
    }
    .timeline::before{
        left: 20px;
    }
    .timeline ul li:nth-child(odd){
        width: 100%;
        text-align: left;
        padding-bottom: 50px;
        padding-left: 50px;
    }
    .timeline ul li:nth-child(even){
        width: 100%;
        text-align: left;
        padding-bottom: 50px;
        padding-left: 50px;
    }
    .timeline ul li:nth-child(odd)::before,
    .timeline ul li:nth-child(even)::before{
        left: 16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time{
        top: -30px;
        left: 50px;
        right: inherit;
    }
    /* PORTFOLIO */
    .image_bloc{
        text-align: center;
        width: 100%;
        flex-direction: column;
    }
    .image_projet{
        width: 80%;
        margin: auto;
    }

}


/* COLOR
#f3F3F3
#D4CCFF
#8550FC
 #88818b 
*/